{% extends 'main/base.html' %}
{% block content %}

      {% for x in data %}
 
      <section>
         
      <div class="inner-banner">
         <div class="container">
         <div class="row">
         <div class="col-lg-12">
         <div class="banner-content text-center">
         <h1>Company Details</h1>
         <span></span>
         <nav aria-label="breadcrumb">
         <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="">Home</a></li>
         <li class="breadcrumb-item active" aria-current="page">Company Details</li>
         </ol>
         </nav>
         </div>
         </div>
         </div>
         </div>
         </div>
         
         
         <div class="company-details-area">
         <div class="container">
         <div class="row">
         <div class="col-lg-12">
         <div class="post-thumb">
            
         <img class="img-fluid"  src="{{x.cover.url}}" style="height: 100px; width: 100%;">
         <div class="company-logo">
         <img src="{{x.logo.url}}" alt>
         
         </div>
         </div>
         <div class="company-area">
         <div class="company-info">
         <h4>{{x.cname}}</h4>
         
         <ul>
         <li><img src="/static/main/assets/images/icon/map-2.svg" alt>{{x.cname}}</li>
         <li><img src="/static/main/assets/images/icon/category-2.svg" alt><span class="title">Category: </span>{{x.ctype}}</li>
         </ul>
         </div>
         <div class="company-contact">
         <div class="websitet-link">
         <p><img src="/static/main/assets/images/icon/web-5.svg" alt>Website Link:<a href="{{X.website}}">{{X.website}}</a></p>
         
         </div>
         <div class="social-area">
         <p><img src="/static/main/assets/images/icon/share-icon.svg" alt>Follow Company:</p>
         <ul>
         <li><a href="#"><i class="bx bxl-facebook"></i></a></li>
         <li><a href="#"><i class="bx bxl-twitter"></i></a></li>
         <li><a href="#"><i class="bx bxl-linkedin"></i></a></li>
         <li><a href="#"><i class="bx bxl-instagram"></i></a></li>
         </ul>
         </div>
         </div>
         </div>
         <div class="row">
         <div class="col-lg-8">
         <div class="company-details-content">
         <h5>About Company</h5>
         <p>{{x.description}}</p>
         <br><br>
         <h5>Working Area</h5>
         <div class="row pt-20">
         <div class="col-sm-6 mb-50">
         <div class="working-process">
         <div class="icon">
         <img src="/static/main/assets/images/icon/creative-design.svg" alt>
         </div>
         <div class="work-content">
         <div class="sl">01</div>
         <h6>{{x.working}}</h6>
         <p></p>
         </div>
         </div>
         </div>
         <div class="col-sm-6 mb-50">
         <div class="working-process">
         <div class="icon">
         <img src="/static/main/assets/images/icon/react-next.svg" alt>
         </div>
         <div class="work-content">
         <div class="sl">02</div>
         <h6>{{x.working}}</h6>
         <p>Creative design is a process that involves creating.</p>
         </div>
         </div>
         </div>
         <div class="col-sm-6 mb-50">
         <div class="working-process">
         <div class="icon">
         <img src="/static/main/assets/images/icon/html-tem.svg" alt>
         </div>
         <div class="work-content">
         <div class="sl">03</div>
         <h6>HTML Template</h6>
         <p>Creative design is a process that involves creating.</p>
         </div>
         </div>
         </div>
         <div class="col-sm-6 mb-50">
         <div class="working-process">
         <div class="icon">
         <img src="/static/main/assets/images/icon/wordpress.svg" alt>
         </div>
         <div class="work-content">
         <div class="sl">04</div>
         <h6>WordPress</h6>
         <p>Creative design is a process that involves creating.</p>
         </div>
         </div>
         </div>
         </div>
         </div>
         </div>
         <div class="col-lg-4">
         <div class="company-dt-sb mb-60">
         <div class="company-overview-area mb-50">
         <h5>Company Overview:</h5>
         <ul>
         <li><span>Company Name:</span> {{x.cname}}</li>
         <li><span>Category:</span> {{x.ctype}}</li>
         <li><span>Location:</span> {{x.location}}</li>
         <!-- <li><span>Member Since:</span> 03 April, 1982.</li> -->
         <li><span>Company size:</span> {{x.size}}</li>
         <li><span>Completed Job:</span> 08.</li>
         <!-- <li><span>Last Job Posted:</span> 06 January, 2023.</li> -->
         </ul>
         </div>
         <a class="primry-btn-2 lg-btn" href="#job">Job Available 23</a>
         <a class="primry-btn-1 lg-btn" href="#">Go Our Site Map</a>
         </div>
         </div>
         </div>
         </div>
         </div>
      {% endfor %}   

         

         


      
                    </div><!--end col-->
                </div>
         </section>

         
   
   


{% endblock %}