{% extends 'main/base.html' %}
 {% block content %}

<div class="register-area pt-120 mb-120">
    <div class="container">
    <div class="row">
    <div class="col-lg-12">
    <div class="form-wrapper">
    <div class="form-title">
    <h3>Register Account</h3>
    <span></span>
    </div>
    <div class="register-tab">
    <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Candidate</button>
    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Company</button>
    </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <form action="/register/" method="post" enctype="multipart/form-data">{% csrf_token %}
    <div class="row">
        <h5 style="color:red;text-align:center;">{{error}}</h5>
        <h5 style="color:red;text-align:center;">{{error2}}</h5>
    <div class="col-md-6">
    <div class="form-inner mb-25">
    <label for="firstname1">First Name<span style="color: red;">*</span></label>
    <div class="input-area">
    <img src="/static/main/assets/images/icon/user-2.svg" alt>
    <input type="text" id="firstname1" name="firstname1" placeholder="Mr. Robert" required=True>
    </div>
    </div>
    </div>
    <div class="col-md-6">
    <div class="form-inner mb-25">
    <label for="lastname1">Last Name<span style="color: red;">*</span></label>
    <div class="input-area">
    <img src="/static/main/assets/images/icon/user-2.svg" alt>
    <input type="text" id="lastname1" name="lastname1" placeholder="Jonson">
    </div>
    </div>
    </div>
    <div class="col-md-6">
    <div class="form-inner mb-25">
    <label for="username">User Name<span style="color: red;">*</span></label>
    <div class="input-area">
    <img src="/static/main/assets/images/icon/user-2.svg" alt>
    <input type="text" id="username" name="username" placeholder="robertjonson" required=True>
    </div>
    </div>
    </div>
    <div class="col-md-6">
    <div class="form-inner mb-25">
    <label for="email">Email<span style="color: red;">*</span></label>
    <div class="input-area">
    <img src="/static/main/assets/images/icon/email-2.svg" alt>
    <input type="email" id="email" name="email" placeholder="info@example.com" required=True>
    </div>
    </div>
    </div>
    <div class="col-md-6">
    <div class="form-inner mb-25">
    <label for="password">Password<span style="color: red;">*</span></label>
    <input type="password" name="password" id="password" placeholder="Password" required=True/>
    <i class="bi bi-eye-slash" id="togglePassword"></i>
    </div>
    </div>
    <div class="col-md-6">
    <div class="form-inner">
    <label for="password2">Confirm Password<span style="color: red;">*</span></label>
    <input type="password" name="confirmpassword" id="password2" placeholder="Confirm Password" required=True />
    <i class="bi bi-eye-slash" id="togglePassword2"></i>
    </div>
    </div>

    <div class="col-md-6">
        <div class="form-inner mb-25">
        <label for="logo">Profile Photo<span style="color: red;">*</span></label>
        <input type="file" name="profic" id="logo" placeholder="Password" required="True"  />
        <i class="bi bi-eye-slash" id="togglePassword3"></i>
        </div>
        </div>
        <div class="col-md-6">
        <div class="form-inner">
        <label for="cover">Resume<span style="color: red;">*</span></label>
        <input type="file" name="resume" id="cover" placeholder="Confirm Password" required="True" />
        <i class="bi bi-eye-slash" id="togglePassword4"></i>
        </div>
        </div>

    <div class="col-md-12">
    <div class="form-agreement form-inner d-flex justify-content-between flex-wrap">
    <div class="form-group two">
    <input type="checkbox" id="html1">
    <label for="html1">Here, I will agree company terms & conditions.</label>
    </div>
    </div>
    </div>
    <div class="col-md-12">
    <div class="form-inner">
    <button class="primry-btn-2" type="submit">Sign Up</button>
    </div>
    </div>
    <h6>Already have an account? <a href="login.html"><span style="color: red;">Login</span> </a> Here</h6>
    <div class="login-difarent-way">
    <div class="row g-4">
    <div class="col-md-6">
    <a href="https://myaccount.google.com/"><img src="/static/main/assets/images/icon/google1.svg" alt>Log in with Google</a>
    </div>
    <div class="col-md-6">
    <a href="https://www.facebook.com/"><img src="/static/main/assets/images/icon/facebook1.svg" alt>Log in with Facebook</a>
    </div>
    </div>
    </div>
    </div>
    </form>
    </div>








    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    <form action="/cregister/"method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="row">
            <h5 style="color:red;text-align:center;">{{error}}</h5>
            <h5 style="color:red;text-align:center;">{{error2}}</h5>
    <div class="col-md-6">
    <div class="form-inner mb-25">
    <label for="firstname">First Name*</label>
    <div class="input-area">
    <img src="/static/main/assets/images/icon/user-2.svg" alt>
    <input type="text" id="firstname" name="firstname" placeholder="Mr. Robert">
    </div>
    </div>
    </div>
    <div class="col-md-6">
    <div class="form-inner mb-25">
    <label for="lastname">Last Name*</label>
    <div class="input-area">
    <img src="/static/main/assets/images/icon/user-2.svg" alt>
    <input type="text" id="lastname" name="lastname" placeholder="Jonson">
    </div>
    </div>
    </div>
    <div class="col-md-6">
    <div class="form-inner mb-25">
    <label for="username">User Name*</label>
    <div class="input-area">
    <img src="/static/main/assets/images/icon/user-2.svg" alt>
    <input type="text" id="username1" name="username" placeholder="robertjonson">
    </div>
    </div>
    </div>
    <div class="col-md-6">
    <div class="form-inner mb-25">
    <label for="email">Email*</label>
    <div class="input-area">
    <img src="/static/main/assets/images/icon/email-2.svg" alt>
    <input type="text" id="email1" name="email" placeholder="info@example.com">
    </div>
    </div>
    </div>
    <div class="col-md-6">
    <div class="form-inner mb-25">
    <label for="companyname">Company Name*</label>
    <div class="input-area">
    <img src="/static/main/assets/images/icon/company-2.svg" alt>
    <input type="text" id="companyname" name="companyname" placeholder="Mr. Robert">
    </div>
    </div>
    </div>
    <div class="col-md-6">
    <div class="form-inner mb-25">
    <label>Company Type*</label>
    <div class="input-area">
    <img src="/static/main/assets/images/icon/category-2.svg" alt>
    <select class="select1" name="select">
    <option value="Digital Agency">Digital Agency</option>
    <option value="Digital Marketing Agency">Digital Marketing Agency</option>
    <option value="Software Company">Software Company</option>
    </select>
    </div>
    </div>
    </div>
    <div class="col-md-6">
    <div class="form-inner mb-25">
    <label for="password">Password*</label>
    <input type="password" name="password" id="password3" placeholder="Password" />
    <i class="bi bi-eye-slash" id="togglePassword3"></i>
    </div>
    </div>
    <div class="col-md-6">
    <div class="form-inner">
    <label for="password4">Confirm Password*</label>
    <input type="password" name="confirmpassword" id="password4" placeholder="Confirm Password" />
    <i class="bi bi-eye-slash" id="togglePassword4"></i>
    </div>
    </div>
    <div class="col-md-6">
        <div class="form-inner mb-25">
        <label for="logo">Company Logo</label>
        <input type="file" name="logo" id="logo" placeholder="Password" required="True"  />
        <i class="bi bi-eye-slash" id="togglePassword3"></i>
        </div>
        </div>
        <div class="col-md-6">
        <div class="form-inner">
        <label for="cover">Company Cover</label>
        <input type="file" name="cover" id="cover" placeholder="Confirm Password" required="True" />
        <i class="bi bi-eye-slash" id="togglePassword4"></i>
        </div>
        </div>
    <div class="col-md-12">
    <div class="form-agreement form-inner d-flex justify-content-between flex-wrap">
    <div class="form-group two">
    <input type="checkbox" id="html">
    <label for="html">Here, I will agree company terms & conditions.</label>
    </div>
    </div>
    </div>
    <div class="col-md-12">
    <div class="form-inner">
    <button class="primry-btn-2" type="submit">Sign Up</button>
    </div>
    </div>
    <h6>Already have an account? <a href="login.html"> Login</a> Here</h6>
    <div class="login-difarent-way">
    <div class="row g-4">
    <div class="col-md-6">
    <a href="https://myaccount.google.com/"><img src="/static/main/assets/images/icon/google1.svg" alt>Log in with Google</a>
    </div>
    <div class="col-md-6">
    <a href="https://www.facebook.com/"><img src="/static/main/assets/images/icon/facebook1.svg" alt>Log in with Facebook</a>
    </div>
    </div>
    </div>
    </div>
    </form>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    

    {% endblock %}