{% extends 'company/combase.html' %}
{% block content %}

      {% for x in data %}
 
      <section>
         
      <div class="inner-banner">
         <div class="container">
         <div class="row">
         <div class="col-lg-12">
         <div class="banner-content text-center">
         <h1>Company Details</h1>
         <span></span>
         <nav aria-label="breadcrumb">
         <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="/company/">Home</a></li>
         <li class="breadcrumb-item active" aria-current="page">Company Details</li>
         </ol>
         </nav>
         </div>
         </div>
         </div>
         </div>
         </div>
         
         
         <div class="company-details-area">
         <div class="container">
         <div class="row">
         <div class="col-lg-12">
         <div class="post-thumb">
            
         <img class="img-fluid"  src="{{x.cover.url}}" style="height: 100px; width: 100%;">
         <div class="company-logo">
         <img src="{{x.logo.url}}" alt>
         
         </div>
         </div>
         <div class="company-area">
         <div class="company-info">
         <h4>{{x.cname}}</h4>
         
         <ul>
         <li><img src="/static/main/assets/images/icon/map-2.svg" alt>{{x.cname}}</li>
         <li><img src="/static/main/assets/images/icon/category-2.svg" alt><span class="title">Category: </span>{{x.ctype}}</li>
         </ul>
         </div>
         <div class="company-contact">
         <div class="websitet-link">
         <p><img src="/static/main/assets/images/icon/web-5.svg" alt>Website Link:<a href="{{X.website}}">{{X.website}}</a></p>
         
         </div>
         <div class="social-area">
         <p><img src="/static/main/assets/images/icon/share-icon.svg" alt>Follow Company:</p>
         <ul>
         <li><a href="https://www.facebook.com/"><i class="bx bxl-facebook"></i></a></li>
         <li><a href="https://twitter.com/"><i class="bx bxl-twitter"></i></a></li>
         <li><a href="https://www.linkedin.com/"><i class="bx bxl-linkedin"></i></a></li>
         <li><a href="https://www.instagram.com/"><i class="bx bxl-instagram"></i></a></li>
         </ul>
         </div>
         </div>
         </div>
         <div class="row">
         <div class="col-lg-8">
         <div class="company-details-content">
         <h5>About Company</h5>
         <p>{{x.description}}</p>
         <br><br>
         <h5>Working Area</h5>
         <div class="row pt-20">
         <div class="col-sm-6 mb-50">
         <div class="working-process">
         <div class="icon">
         <img src="/static/main/assets/images/icon/creative-design.svg" alt>
         </div>
         <div class="work-content">
         <div class="sl">01</div>
         <h6>{{x.working}}</h6>
         <p></p>
         </div>
         </div>
         </div>
         <div class="col-sm-6 mb-50">
         <div class="working-process">
         <div class="icon">
         <img src="/static/main/assets/images/icon/react-next.svg" alt>
         </div>
         <div class="work-content">
         <div class="sl">02</div>
         <h6>{{x.working}}</h6>
         <p>Creative design is a process that involves creating.</p>
         </div>
         </div>
         </div>
         <div class="col-sm-6 mb-50">
         <div class="working-process">
         <div class="icon">
         <img src="/static/main/assets/images/icon/html-tem.svg" alt>
         </div>
         <div class="work-content">
         <div class="sl">03</div>
         <h6>HTML Template</h6>
         <p>Creative design is a process that involves creating.</p>
         </div>
         </div>
         </div>
         <div class="col-sm-6 mb-50">
         <div class="working-process">
         <div class="icon">
         <img src="/static/main/assets/images/icon/wordpress.svg" alt>
         </div>
         <div class="work-content">
         <div class="sl">04</div>
         <h6>WordPress</h6>
         <p>Creative design is a process that involves creating.</p>
         </div>
         </div>
         </div>
         </div>
         </div>
         </div>
         <div class="col-lg-4">
         <div class="company-dt-sb mb-60">
         <div class="company-overview-area mb-50">
         <h5>Company Overview:</h5>
         <ul>
         <li><span>Company Name:</span> {{x.cname}}</li>
         <li><span>Category:</span> {{x.ctype}}</li>
         <li><span>Location:</span> {{x.location}}</li>
         <!-- <li><span>Member Since:</span> 03 April, 1982.</li> -->
         <li><span>Company size:</span> {{x.size}}</li>
         <li><span>Completed Job:</span> 08.</li>
         <!-- <li><span>Last Job Posted:</span> 06 January, 2023.</li> -->
         </ul>
         </div>
         <a class="primry-btn-2 lg-btn" href="#job">Job Available 23</a>
         <a class="primry-btn-1 lg-btn" href="#">Go Our Site Map</a>
         </div>
         </div>
         </div>
         </div>
         </div>
      {% endfor %}   

         

         


      
         <div class="row" id="job">
         <div class="col-lg-12">
         <div class="section-title">
         <h4>Latest Jobs:</h4>
         </div>
         {% for x in data2 %}
         <div class="col-lg-12 mb-30">
         <div class="job-listing-card">
         <div class="job-top">
         <div class="job-list-content">
         <div class="company-area">
         <div class="logo">
         <img src="{{x.cid.logo.url}}" alt>
         </div>
         <div class="company-details">
         <div class="name-location">
         <h5><a href="job-details.html">{{x.title}}</a></h5>
         <p><a href="company-details.html">{{x.cid.cname}}</a></p>
         </div>
         </div>
         </div>
         <div class="job-discription">
         <ul>
         <li>
         <p><span class="title">Location:</span> {{x.loca}}</p>
         </li>
         <li>
         <p><span class="title">Salary:</span> ${{x.min}}-${{x.max}} / <span class="time">P{{x.salary}}</span></p>
         </li>
         </ul>
         <ul>
         <li>
         <p><span class="title">Experience:</span>{{x.exp}} Years</p>
         </li>
         <li>
         <p><span class="title">Published:</span> {{x.postdate}}</p>
         </li>
         <li>
            <p><span class="title">Last Date:</span>{{x.lastdata}}</p>
            </li>
         </ul>
         </div>
         </div>
         <!-- <div class="bookmark">
         <i class="bi bi-bookmark-fill"></i>
         </div> -->
         </div>
         <div class="job-type-apply">
         <p><img src="/static/main/assets/images/icon/company-4.svg" alt> Job Vaccancy: <span> {{x.nos}} Person</span></p>
         <p><img src="/static/main/assets/images/icon/company-4.svg" alt> Total Apply: <span> {{x.nos}} Person</span></p>
         <div class="job-type">
         <span class="light-yellow">{{x.type}}</span>
         <!-- <span class="light-purple">Part Time</span>
         <span class="light-blue">Remote</span> -->
         </div>
         <div class="">
         <a href="/job_del/?jobid={{x.id}}"><span style="color: red;">Delete Now</span></a>
         </div>
         </div>
         </div>
         </div>
      {% endfor %}   
         <!-- <div class="col-lg-12 mb-30">
         <div class="job-listing-card">
         <div class="job-top">
         <div class="job-list-content">
         <div class="company-area">
         <div class="logo">
         <img src="/static/main/assets/images/bg/company-logo/company-02.png" alt>
         </div>
         <div class="company-details">
         <div class="name-location">
         <h5><a href="job-details.html">Senior PHP Developer</a></h5>
         <p><a href="company-details.html">Marko Land Conpany</a></p>
         </div>
         </div>
         </div>
         <div class="job-discription">
         <ul>
         <li>
         <p><span class="title">Location:</span> Chicago, Australia</p>
         </li>
         <li>
         <p><span class="title">Salary:</span> $50K-$70K / <span class="time">Per Month</span></p>
         </li>
         </ul>
         <ul>
         <li>
         <p><span class="title">Experience:</span> 3-4 Years</p>
         </li>
         <li>
         <p><span class="title">Published:</span> 08 April, 2023</p>
         </li>
         </ul>
         </div>
         </div>
         <div class="bookmark">
         <i class="bi bi-bookmark-fill"></i>
         </div>
         </div>
         <div class="job-type-apply">
         <p><img src="/static/main/assets/images/icon/company-4.svg" alt> Job Applied: <span> 05 Person</span></p>
         <div class="job-type">
         <span class="light-yellow">Full Time</span>
         <span class="light-purple">Part Time</span>
         </div>
         <div class="apply-btn">
         <a href="job-details.html"><span><img src="/static/main/assets/images/icon/apply-ellipse.svg" alt></span>Apply Now</a>
         </div>
         </div>
         </div>
         </div>
         <div class="col-lg-12 mb-30">
         <div class="job-listing-card">
         <div class="job-top">
         <div class="job-list-content">
         <div class="company-area">
         <div class="logo">
         <img src="/static/main/assets/images/bg/company-logo/company-03.png" alt>
         </div>
         <div class="company-details">
         <div class="name-location">
         <h5><a href="job-details.html">Junior React Developer</a></h5>
         <p><a href="company-details.html">UI.UX Company</a></p>
         </div>
         </div>
         </div>
         <div class="job-discription">
         <ul>
         <li>
         <p><span class="title">Location:</span> Dhaka, Bangladesh</p>
         </li>
         <li>
         <p><span class="title">Salary:</span> $20K-$50K / <span class="time">Per Month</span></p>
         </li>
         </ul>
         <ul>
         <li>
         <p><span class="title">Experience:</span> 1.5-2 Years</p>
         </li>
         <li>
         <p><span class="title">Published:</span> 08 April, 2023</p>
         </li>
         </ul>
         </div>
         </div>
         <div class="bookmark">
         <i class="bi bi-bookmark-fill"></i>
         </div>
         </div>
         <div class="job-type-apply">
         <p><img src="/static/main/assets/images/icon/company-4.svg" alt> Job Applied: <span> 06 Person</span></p>
         <div class="job-type">
         <span class="light-purple">Part Time</span>
         </div>
         <div class="apply-btn">
         <a href="job-details.html"><span><img src="/static/main/assets/images/icon/apply-ellipse.svg" alt></span>Apply Now</a>
         </div>
         </div>
         </div>
         </div>
         <div class="col-lg-12 mb-60">
         <div class="job-listing-card">
         <div class="job-top">
         <div class="job-list-content">
         <div class="company-area">
         <div class="logo">
         <img src="/static/main/assets/images/bg/company-logo/company-04.png" alt>
         </div>
         <div class="company-details">
         <div class="name-location">
         <h5><a href="job-details.html">Senior React Developer</a></h5>
         <p><a href="company-details.html">UI.UX Company</a></p>
         </div>
         </div>
         </div>
         <div class="job-discription">
         <ul>
         <li>
         <p><span class="title">Location:</span> Dhaka, Bangladesh</p>
         </li>
         <li>
         <p><span class="title">Salary:</span> $20K-$50K / <span class="time">Per Month</span></p>
         </li>
         </ul>
         <ul>
         <li>
         <p><span class="title">Experience:</span> 2.5-5 Years</p>
         </li>
         <li>
         <p><span class="title">Published:</span> 08 April, 2023</p>
         </li>
         </ul>
         </div>
         </div>
         <div class="bookmark">
         <i class="bi bi-bookmark-fill"></i>
         </div>
         </div>
         <div class="job-type-apply">
         <p><img src="/static/main/assets/images/icon/company-4.svg" alt> Job Applied: <span> 08 Person</span></p>
         <div class="job-type">
         <span class="light-yellow">Full Time</span>
         <span class="light-purple">Part Time</span>
         <span class="light-blue">Remote</span>
         </div>
         <div class="apply-btn">
         <a href="job-details.html"><span><img src="/static/main/assets/images/icon/apply-ellipse.svg" alt></span>Apply Now</a>
         </div>
         </div>
         </div>
         </div>
         <div class="pagination-area">
         <nav aria-label="...">
         <ul class="pagination">
         <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"></a></li>
         <li class="page-item active" aria-current="page"><a class="page-link" href="#">01</a></li>
         <li class="page-item"><a class="page-link" href="#">02</a></li>
         <li class="page-item"><a class="page-link" href="#">03</a></li>
         <li class="page-item"><a class="page-link" href="#"></a></li>
         </ul>
         </nav>
         </div>
         </div>
         </div>
         </div>
         </div> -->
         </section>

         
   
   


{% endblock %}